.CronogramaItem {
  position: relative;
  display: grid;
  padding: 1.5rem 7px;
  grid-template-columns: 1fr 19fr;
  border: dotted 4px var(--primary-color);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.CronogramaItem > h3 {
  margin-right: 20px;
  border-left: dotted 4px var(--primary-color);
  transform: rotateZ(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.CronogramaItem-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.CronogramaItem label {
  display: flex;
}

.CronogramaItem-tareas {
  display: flex;
  flex-direction: column;
}

.CronogramaItem-tareas > ul{
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
  text-align: left;
}

.CronogramaItem-tareas li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--background-color);
}

.CronogramaItem-tareas li > button {
  background-color: var(--red-btn);
}

.CronogramaItem-tareas > button {
  margin: 10px auto;
  background-color: var(--green-btn);
}

.item-Complete {
  text-decoration: line-through;
  font-style: italic;
  opacity: 60%;
  
}

.CronogramaItem-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.button-red {
  background-color: var(--red-btn);
}

/* 

.CronogramaItem-tareas {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}
*/