.matriz-table {
  display: grid;
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-columns: 1fr 4fr 4fr ;
}

.matriz-title {
  background-color: aqua;
}

.matriz-title-1 { grid-row: 1/2; grid-column: 2/3; }
.matriz-title-2 { grid-row: 1/2; grid-column: 3/4; }
.matriz-title-3 { grid-row: 2/3; grid-column: 1/2; }
.matriz-title-4 { grid-row: 3/4; grid-column: 1/2; }

.matriz-title-3, .matriz-title-4 {
  text-orientation: mixed; 
  writing-mode: vertical-lr; 
  transform: rotateZ(180deg);
}

.matriz-sec > ul{
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

.matriz-sec-1 { grid-row: 2/3; grid-column: 2/3; }
.matriz-sec-2 { grid-row: 2/3; grid-column: 3/4; }
.matriz-sec-3 { grid-row: 3/4; grid-column: 2/3; }
.matriz-sec-4 { grid-row: 3/4; grid-column: 3/4; }