.CronogramaModal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.CronogramaModal h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.CronogramaModal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.CronogramaModal-form input[type="text"] {
  padding: 5px 2px;
}

.CronogramaModal-tareas {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.CronogramaModal-tareas-item {
  display: flex;
  gap: 0.5rem;
}

.CronogramaModal-tareas-item input {
  flex-grow: 1;
}

.CronogramaModal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.button-red {
  background-color: var(--red-btn);
}