.SemanaItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--card-background-color);
  box-shadow: 2px 2px 4px var(--shadow-color);
}

.SemanaItem > p {
  display: inline-block;
}

.SemanaItem-decoration {
  box-sizing: border-box;
  margin: 0.5em;
  height: 1.5em;
  width: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
}

.SemanaItem-decoration:hover { cursor: grab; }

.SemanaItem-decoration > div {
  display: block;
  aspect-ratio: 1/1;
  background-color: var(--text-color);
  border-radius: 50%;
}