.PlanSemanal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}
.Plan-horario {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  max-width: 90vw;
  overflow-x: scroll;
}

.PlanLabels > h2, .Plan-dia > h2 {
  padding: 3px 10px;
  background-color: var(--primary-color);
  color: var(--card-background-color);
  border-radius: 10px;
}

.PlanLabels > div, .Plan-dia > div {
  padding: 1.5rem;
  border-radius: 15px;
  margin: 10px 0;
  width: 200px;
}
.Plan-morning { background-color: var(--item-mooring);}
.Plan-midday { background-color: var(--item-midday);}
.Plan-afternoon { background-color: var(--item-afternoon);}
.Plan-night { background-color: var(--item-night);}

/* SCROLLBAR */

/* Firefox */
.Plan-horario * {
  scrollbar-width: auto; /* thicker than 'thin' */
  scrollbar-color: #333 transparent;
}

/* Chrome, Edge, Safari */
.Plan-horario::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

.Plan-horario::-webkit-scrollbar-track {
  background: transparent;
}

.Plan-horario::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.Plan-horario::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
