.semana-list-item {
  display: grid;
  grid-template-columns: 1fr 19fr;
  border: solid 2px black;
}

.semana-list-item > span {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotateZ(180deg);
}

.semana-list-item > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}