.ItemsItem {
  background-color: var(--background-color);
  padding: 0 1rem;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px var(--shadow-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ItemsItem-edit {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.ItemsItem-edit input {
  flex-grow: 1;
}

.ItemsItem-idle {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.ItemsItem-idle p {
  flex-grow: 1;
}

.ItemsItem-actions {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 4px 0;
}

.ItemsItem-actions button {
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--primary-color);
  opacity: 60%;
  margin: 0;
}

.ItemsItem-actions button.red-btn {
  background-color: var(--red-btn);
}

.ItemsItem-actions button:hover {
  color: var(--accent-color);
  opacity: 100%;
}