.Home {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 5fr;
  gap: 2rem;
}

/* MARK: CURRENT */

.Home-current {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: var(--card-background-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.Home-current-title {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  text-align: left;
}

.Home-current-title h2 {
  grid-row: 1/3;
  grid-column: 1/2;
  margin-right: 10px;
  text-align: left;
  font-size: 1em;
}

.Home-current-title p { grid-row: 1/2; grid-column: 2/3; font-size: 0.9em; }
.Home-current-title p > b {
  font-size: 1.3em;
}
.Home-current-title span { 
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 0.8em;
  font-style: italic;
  color: var(--accent-color);
 }

.Home-current-items > ul {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
  text-align: left;
}

.tarea-complete {
  list-style-type: none;
}

.tarea-complete::before {
  content: "Ok";
  margin-right: 10px;
  padding: 5px;
  aspect-ratio: 1/1;
  font-weight: bold;
  color: white;
  background-color: var(--green-btn);
  border-radius: 50%;
  transform: translateX(100px);
}

.tarea-complete span {
  text-decoration: line-through;
  font-style: italic;
}

/* MARK: SEMANA */

.Home-semana {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: var(--card-background-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.Home-semana-container {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 1rem;
}
.Home-semana-container ul {
  margin: 10px 0;
  padding: 5px;
  border-width: 4px;
  border-style: dotted;
  border-radius: 10px;
}

.Home-semana-morning {border-color: var(--item-mooring);}
.Home-semana-midday {border-color: var(--item-midday);}
.Home-semana-afternoon {border-color: var(--item-afternoon);}
.Home-semana-night {border-color: var(--item-night);}

.Home-semana-container li {
  list-style: none;
  box-sizing: content-box;
  padding: 3px 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 5px;
}

.Home-semana-morning > li {background-color: var(--item-mooring);}
.Home-semana-midday > li {background-color: var(--item-midday);}
.Home-semana-afternoon > li {background-color: var(--item-afternoon);}
.Home-semana-night > li {background-color: var(--item-night);}

.Home-semana-check {
  text-decoration: line-through;
  font-style: italic;
  opacity: 60%;
}

/* MARK: MATRIZ */

.Home-matriz {
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: var(--card-background-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.Home-matriz > article {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

.Home-matriz ul {
 list-style: disc;
 padding: 0 15px;
}

.matriz-urgente {
  background-color: #f18e82;
}

.matriz-importante {
  background-color: #72d199;
}

.matriz-nourgente {
  background-color: #ffcf83;
}

.matriz-noimportante {
  background-color: #c8d0d1;
}

.Home-current h2,
.Home-semana h2,
.Home-matriz h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 0.5rem;
}