.Home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 5fr;
  gap: 2rem;
}

.Home-current {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: var(--card-background-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.Home-current-title {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  text-align: left;
}

.Home-current-title h2 {
  grid-row: 1/3;
  grid-column: 1/2;
  margin-right: 10px;
  text-align: left;
  font-size: 1em;
}

.Home-current-title p { grid-row: 1/2; grid-column: 2/3; font-size: 0.9em; }
.Home-current-title p > b {
  font-size: 1.3em;
}
.Home-current-title span { 
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 0.8em;
  font-style: italic;
  color: var(--accent-color);
 }

.Home-current-items > ul {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
  text-align: left;
}

.Home-semana {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: var(--card-background-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.Home-semana-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}
.Home-semana-container li {
  text-align: left;
  margin: 10px 0;
}

.Home-matriz {
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: var(--card-background-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.Home-matriz > article {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

.Home-matriz ul {
 list-style: disc;
 padding: 0 15px;
}

.matriz-urgente {
  background-color: #f18e82;
}

.matriz-importante {
  background-color: #72d199;
}

.matriz-nourgente {
  background-color: #ffcf83;
}

.matriz-noimportante {
  background-color: #c8d0d1;
}

.Home-current h2,
.Home-semana h2,
.Home-matriz h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 0.5rem;
}