.Home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 5fr;
  gap: 20px;
}

.Home-current {
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: left;
}

.Home-current > ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
  text-align: left;
}

.Home-semana {
  grid-row: 2/3;
  grid-column: 1/2;
}

.Home-semana-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  text-align: left;
}

.Home-matriz {
  grid-row: 1/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.Home-matriz > article {
  padding: 10px;
  background-color: aqua;
}

.Home-matriz ul {
 list-style: none;
}