.Cronograma {
  background-color: var(--card-background-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.Cronograma h1 {
  margin-bottom: 1rem;
}

.Cronograma-header{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Cronograma-headerInput {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 5px 10px;
  border: dotted var(--accent-color) 4px;
  border-radius: 10px;
}

.Cronograma-headerInput span {
  font-weight: 500;
}

.Cronograma main {
  margin-top: 2rem;
}

.Cronograma ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Cronograma section:last-of-type {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
