:root {
  --font-family: 'Roboto', sans-serif;
  --primary-color: #2c3e50;
  --secondary-color: #34495e;
  --accent-color: #2980b9;
  --background-color: #dddddd;
  --text-color: #2c3e50;
  --card-background-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --border-color: #bdc3c7;
  --red-btn: #be2f47;
  --green-btn: #2ab15e;
  --item-mooring: #F1BA88;
  --item-midday: #e27eb5;
  --item-afternoon: #45df8a;
  --item-night: #03A791;

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--primary-color);
}

button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #3498db;
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--secondary-color);
}

input[type="text"],
input[type="date"] {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  font-family: var(--font-family);
}

input[type="checkbox"]{
  transform: scale(1.8);
  accent-color: var(--accent-color);
}

ul, ol {
  list-style-position: inside;
}
